<div class="header-wrapper">
  <div class="header-nav">
    <div class="header-state">
      <div class="header-logo"></div>
    </div>
    <nav class="navbar navbar-static-top" id="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="menu-2_0_header-container">
            <ul id="menu-2_0_header" class="nav navbar-nav navbar-right">
              <li class="fm_sel" id="nav_menu_item_app_content">
                <a href="javascript:void(0)">
                  Newsroom
                </a>
              </li>
              <li id="nav_menu_item_activity">
                <a href="javascript:void(0)">
                  Club
                </a>
              </li>
              <li id="nav_menu_item_app_survey">
                <a href="javascript:void(0)">
                  Survey
                </a>
              </li>
              <li id="nav_menu_item_app_book">
                <a href="javascript:void(0)">
                  Library
                </a>
              </li>
              <li id="nav_menu_item_ibeacons">
                <a href="javascript:void(0)">
                  Beacon
                </a>
              </li>
              <li id="nav_menu_item_console_user">
                <a href="javascript:void(0)">
                  Console User
                </a>
              </li>
              <li id="nav_menu_item_app_user">
                <a href="javascript:void(0)">
                  App User
                </a>
              </li>
              <li >
                <a class="fm-sel">
                  |
                </a>
              </li>
              <li id="nav_menu_item_app_quiz">
                <a class="log-off">
                 Log Off
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
